* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.chat-container {
    width: 90%;
    max-width: 1000px;
    height: 600px;
    display: flex;
    background: #020617;
    border-radius: 12px;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 30%;
    background: #020617;
    padding: 20px;
    border-right: 1px solid #1e293b;
}

.sidebar h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

.user {
    display: flex;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
}

.user:hover, .user.active {
    background: #1e293b;
}

.user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user h4 {
    color: #e5e7eb;
}

.user p {
    font-size: 13px;
    color: #94a3b8;
}

/* Chat Area */
.chat-area {
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* Header */
.chat-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

.chat-header img {
    width: 40px;
    border-radius: 50%;
}

.chat-header h3 {
    color: #e5e7eb;
}

/* Messages */
.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #0f172a;
}

.message {
    max-width: 60%;
    padding: 10px 14px;
    margin-bottom: 12px;
    border-radius: 12px;
    font-size: 14px;
}

.received {
    background: #1e293b;
    color: #e5e7eb;
    align-self: flex-start;
}

.sent {
    background: #38bdf8;
    color: #020617;
    align-self: flex-end;
    margin-left: auto;
}

/* Input */
.chat-input {
    display: flex;
    padding: 15px;
    background: #020617;
    gap: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.chat-input button {
    background: #38bdf8;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
